
<div class="container carousel-container">
    <div class="row">
        <div class="col-8 carousel">
            <carousel>
                
                <slide>
                <img src="assets/images/subway.jpg" alt="second slide" style="display: block; width: 100%;">
                </slide>
                <slide>
                <img src="assets/images/rocks.jpg" alt="third slide" style="display: block; width: 100%;">
                </slide>
            </carousel>
        </div>
    
        <div class="col-4">
            <h1>What I do</h1>
            <p>Description of special shit or whatever</p>
            <p>Add a picture of something, also make the carousel bigger and push to the left</p>
        </div>
    </div>
</div>