
<div class="footer">
    <h2>
        Contact: 
    </h2>
    <div class="row align-items-center ml-4 mt-2">
        
    
        <div class="col-lg-2 col-md-12">
            <a href="#"><fa-icon [icon]="faPhone" size="5x"></fa-icon></a>
        </div>
        <div class="col-lg-2 col-md-12">
            <a href="facebook.com"><fa-icon [icon]="faFacebook" size="5x"></fa-icon></a>
        </div>
        <div class="col-lg-2 col-md-12">
            <a href="twitter.com"><fa-icon [icon]="faTwitter" size="5x"></fa-icon></a>
        </div>
        <div class="col-lg-2 col-md-12">
            <a href="instagram.com"><fa-icon [icon]="faInstagram" size="5x"></fa-icon></a>
        </div>
    </div>
</div>
